ul>li>a:hover{color:#f00;}		
			.hover-show{
				top: 0px;
				height: 0px;
			}
.daohang>li>a{
	color:#ccc;
}
.md_height{
	height: 238px !important;
}
.font_smail{
	font-size: 14px;
	color:#A6A6A6 ;
}
.h-25{height:10% !important; }
.font_size{font-size: 16px;}
.active{color:red !important}



@media (min-width:576px) {
	.left>div:first-child{
		padding: 10px;
		padding-top:20px;
	}
	.left>div:nth-child(2){
		width:100%;
		height:535px;
		padding: 10px;
	}
	.left>div:nth-child(2)>img{
		width:100%;
		height: 100%;
	}
	.left>div:nth-child(3){
		width:50%;
		height:283px;
		padding: 10px;
		float: left;
	}
	.left>div:nth-child(3)>img{
		width:100%;
		height:100%;
	}
	.left>div:nth-child(4){
		width:50%;
		height:283px;
		float: left;
		padding: 10px;
	}
	.left>div:nth-child(4)>img{
		width:100%;
		height:100%;
		float: left;
		clear: left;
	}
	.right>div{
		width:100%;
		
		padding: 10px;
	}
	.right>div>img{
		width:100%;
		height:500px;
	}
}

@media (min-width:768px) {
	.remen{
		display: flex;
		flex-wrap:nowrap;
	}
	.left{
		width:60%;
		display: flex;
		flex-wrap: wrap;
	}
	.left>div{
		width:50% !important;
		height:222px !important;
	}
	.left>div>img{
		width:100% !important;
		height:100% !important;
	}
		
	
	.right{
		width:40%;
		height:444px;
	}
	.right>div>img{
		height:424px;
	}	
}

.baniner1{height: 460px;}
.a_none a{text-decoration: none;}
.content>p:first-child{
	font-size: 18px;
	color:#000;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
} 
.content>p:nth-child(2){
	font-size:14px;
	color:#999999;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.content>p:nth-child(3){
	font-size:21px;
	 color:#999999;
}
.w-90{
	width:90%;
}
.h-90{
	height:90%;
}



@media (min-width:1200px) {
	.remen{
		display: flex;
		flex-wrap:nowrap;
	}
	.left{
		width:60%;
		display: flex;
		flex-wrap: wrap;
	}
	.left>div{
		width:50% !important;
		height:280px !important;
	}
	.left>div>img{
		width:100% !important;
		height:100% !important;
	}
	.right{
		width:40%;
		height:560px;
	}
	.right>div>img{
		height:540px;
	}	
}